@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --color-primary: #ff8000;
  --color-secondary: #4c1f7a;
  --color-optional-1: #344cb7;
  --color-optional-2: #3d3bf3;
  --color-shade-1: #fff;
  --color-shade-2: #e8f9ff;
  --color-shade-3: #fff2c2;
  --color-text: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}
.navContainer {
  width: 100%;
}
nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.span1 {
  color: var(--color-primary);
}
.span2 {
  color: var(--color-secondary);
}

.graddient-1 {
  background: linear-gradient(0deg, #fff 0%, #e8f9ff 50%);
}
.graddient-2 {
  background: linear-gradient(0deg, #e8f9ff 0%, #fffdec 50%);
}
.graddient-3 {
  background: linear-gradient(0deg, #fffdec 0%, #fff2c2 50%);
}
.graddient-4 {
  background: linear-gradient(0deg, #e8f9ff 0%, #fff2c2 50%);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navItems {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.navItems li {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
}
.navItem1 {
  color: var(--color-optional-1);
}
.navItem2 {
  color: var(--color-optional-2);
}
.navItem3 {
  color: var(--color-primary);
}
.navItem4 {
  color: var(--color-secondary);
}
.navBtn button {
  padding: 0.75rem 2.25rem;
  background-color: var(--color-primary);
  color: var(--color-shade-2);
  font-weight: 600;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}
.hamburger {
  display: none;
}

.heroContainer {
  width: 100%;
}
.heroSection {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.heroText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.heroText h1 {
  font-size: 4rem;
}
.heroText p {
  font-size: 1.5rem;
}
.heroBtn button {
  padding: 0.75rem 2.25rem;
  background-color: var(--color-text);
  color: var(--color-shade-2);
  font-weight: 600;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.curriculumContainer {
  width: 100%;
  height: auto;
  background: url("../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.curriculum {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.curriculumHeader h1 {
  font-size: 4rem;
  margin: 2rem 0;
}
.curriculumCards {
  display: flex;
  gap: 1rem;
}
.curriculumCard {
  width: 300;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  border: 2px solid var(--color-shade-2);
}
.currLink {
  text-decoration: none;
  font-weight: 600;
}
.pagination {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}
.leftPagination {
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-shade-1);
}

.storyContainer {
  width: 100%;
  height: auto;
  background: url("../assets/bg.png"),
    linear-gradient(to bottom, #fff 0%, #e8f9ff 50%, #fffdec 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.ourStories {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}
.storyHeader h1 {
  font-size: 4rem;
}
.stories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}
.storyLeft,
.storyRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.storyRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-content: stretch;
}
.stories-mobile {
  display: none;
}
.story1,
.story2,
.story3,
.story4,
.story5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 1rem;
  background: var(--color-shade-1);
  height: 100%;
  border-radius: 1rem;
}
.storydesc {
  padding: 2rem;
}
.storyImg img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.storyHead {
  font-size: 2rem;
}
.storyText {
  padding: 2rem 0;
}
.storyText p {
  font-size: 1rem;
}
.storyBtn button {
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  background-color: var(--color-text);
  color: var(--color-shade-1);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.footer {
  background: var(--color-optional-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 2.5rem 1rem;
}
.footerContainer {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.footerContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.footerBrand {
  color: var(--color-shade-1);
  font-weight: 600;
  display: flex;
}
.logo p {
  color: var(--color-shade-1);
  font-size: 1rem;
}
.footerMenu {
  display: flex;
  flex-direction: column;
}
.footerAbout {
  color: var(--color-shade-1);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.footerNavItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerNavItems li {
  list-style: none;
  color: var(--color-shade-1);
  font-size: 1rem;
}
.social {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color-shade-1);
}
.socialIcons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    border-bottom: 1px solid var(--color-primary);
  }
  .brand {
    display: none;
  }
  .menu {
    display: none;
  }
  .navBtn {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }
  .heroSection {
    flex-direction: column-reverse;
    gap: 2rem;
    text-align: center;
    margin: 1rem 0;
  }
  .heroSection h1 {
    font-size: 3rem;
  }
  .heroSection p {
    font-size: 1.25rem;
  }
  .curriculum {
    text-align: center;
  }
  .curriculumHeader h1 {
    font-size: 2.5rem;
  }
  .curriculumCards {
    flex-direction: column;
  }
  .stories {
    display: none;
  }
  .stories-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .stories-mobile button {
    align-items: center;
  }
  .storyHeader h1 {
    font-size: 2.5rem;
  }
  .storyText h2 {
    font-size: 1.25rem;
  }
  .footerContainer {
    display: flex;
    flex-direction: column;
  }
}
